<h1> Welcome to Have You Seen!? </h1>
<h3> - the TV/movie list creater - </h3>

<%= button_to "Log In", login_path, method: :get %> <br>
<%= button_to "Create Profile", new_user_path, method: :get %>
